[options]
addons_path = addons,sku,skp
#admin_passwd = admin
#data_dir = C:\Documents and Settings\qc\Local Settings\Application Data\OpenERP S.A.\Odoo
data_dir = data
db_host = False
db_maxconn = 64
db_name = <<databasename>>
db_password = <<db_password>>
db_port = <<db_port>>
db_template = template1
db_user = <<dbuser>>
xmlrpc = True
xmlrpc_interface = 
xmlrpc_port = <<portname>>
kodedepot = pdsi
